# Auto detect text files and perform LF normalization
* text=auto
git add FinalExam/FinalExamSpring2021/
git add HickeytAssignment01/
git add HickeytAssignment02/
git add HickeytAssignment03/
git add HickeytAssignment04/
git add HickeytAssignment05/
git add HickeytAssignment06/
git add Space-Debris/
